* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: #1a313a;
}

.siderbar {
    position: absolute;
    width: 60px;
    height: 100vh;
    background: #fff;
    overflow: hidden;
    transition: 0.5s;
}

.siderbar:hover {
    width: 300px;
}

.siderbar ul {
    position: relative;
    height: 100vh;
}

.siderbar ul li {
    list-style: none;
}

.siderbar ul li:hover {
    background: #f3f3f3;
}

.siderbar ul li a {
    position: relative;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
}

.siderbar ul li a .icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 60px;
    font-size: 1.5em;
    color: #333;
}

.siderbar ul li a .text {
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 1em;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.siderbar ul li.Logo {
    margin-bottom: 50px;
}
.siderbar ul li.Logo:hover{
    background: #fff;
}

.siderbar ul li.Logo .icon {
    font-size: 2em;
}

.siderbar ul li.Logo .text {
    font-size: 1.2em;
    font-weight: 500;
}
.bottom{
    position: absolute;
    bottom: 0;
    width: 100vh;
}
.bottom .imgbx{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.bottom  .imgbx img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}